<div class="ui fluid card">
            <div class="content"><%= __('widget.toc') %></div>
            <div class="content">
              <%- toc(page.content) %>
            </div>
          </div>
